body {
    font-family: Segoe UI;
}

.header {
    overflow: hidden;
    background-color: black;
    padding: 0px 15px;
    color: white;
}

.header a {
    float: left;
    text-align: center;
    padding: 30px 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: white;
}

.header-right {
    float: right;
}

.header-left {
    font-size: 25px;
    font-weight: bold;
    float: left;
}

.content {
    padding: 0% 10%;
}

th {
    width: 80px;
}

table,
th,
td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

th,
td {
    padding: 5px 10px;
}

input[type=text],
input[type=email] {
    width: 250px;
}

.footer {
    overflow: hidden;
    background-color: black;
    padding: 0px 15px;
    color: white;
}

.form {
    margin-top: 100px;
    background-color: rgb(243, 243, 243);
}

.form-content {
    padding: 30px;
    padding-bottom: 50px;
    margin: auto;
    width: 300px;
}

.content {
    padding-top: 50px;
    overflow: hidden;
}

.hello-bg {
    display: block;
    position: absolute;
    top: -150px;
    left: auto;
    opacity: 50%;
    width: 50px;
}

.hello-hi {
    width: 500px;
    position: relative;
    padding-left: 10%;
    padding-top: 5%;
}

.hello {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.content-about {
    padding-top: 50px;
    overflow: hidden;
    width: 600px;
    margin-left: 25%;
}

.content-about img {
    width: 230px;
}

.content-img {
    padding-top: 30px;
    width: 230px;
    float: left;
    filter: grayscale(100%) brightness(140%) contrast(80%);
}

.content-text {
    float: right;
    width: 300px;
}

@media screen and (max-width: 500px) {
    .header-left {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .content-about {
        padding-top: 50px;
        overflow: hidden;
        width: 500px;
        margin-left: 10%;
    }
    .content-about img {
        width: 200px;
    }
    .content-img {
        padding-top: 30px;
        margin-left: 0;
        filter: grayscale(100%) brightness(140%) contrast(80%);
        width: 200px;
        float: none;
    }
    .content-text {
        margin-left: 0;
        float: none;
        width: 250px;
    }
}

@media screen and (max-width: 683px) {
    .content-about {
        padding-top: 50px;
        overflow: hidden;
        width: 500px;
        margin-left: 10%;
    }
    .content-about img {
        width: 230px;
    }
    .content-img {
        padding-top: 30px;
        width: 230px;
        filter: grayscale(100%) brightness(140%) contrast(80%);
        float: left;
    }
    .content-text {
        float: right;
        width: 250px;
    }
    .hello-bg {
        display: block;
        position: absolute;
        top: -150px;
        left: -300px;
        opacity: 50%;
        width: 50px;
    }
}